* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scrollbar-width: none;
    ::-webkit-scrollbar {
        display: none;
    }
}


:root {
    --bg-color: rgb(153, 235, 153);
    --text-color: #22812c;
    --pry-color: #fff;
    --sec-color: rgb(255, 255, 255);
    --bg-grad-color: linear-gradient(
        245.59deg,
        rgb(53, 53, 139) 0%,
        #3d8e95 28.53%, 
        #133917 75.52%
    );
    --pry-grad-hover-color: linear-gradient(100deg, rgb(27, 27, 141),rgb(27, 135, 27));
}



body {
    color: var(--text-color);
}



.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-grad-color);
}



.homepage {
    margin: 30px 30px;
    width: 90%;
    min-height: 90vh;
    border-radius: 20px;
    background: var(--sec-color);
    overflow: hidden;
}



.sidebar {
    height: 700px;
    min-height: 100%;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.sidebar div {
    height: 100px;
}



.sidebar ul {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



.sidebar ul li a {
    position: relative;
    left: 2px;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 2rem;
    color: var(--text-color);
    font-weight: 900;
    font-size: 1.1rem;
}



.sidebar ul li i {
    margin-right: 2.2rem;
    max-width: 18px;
}



.sidebar ul li p {
    background: black;
}



.sidebar ul li a .f {
    margin-left: 1rem;
}



.sidebar ul li a .s {
    margin-left: 2.5rem;
}